/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Helvetica, Arial; 
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#toggle {
    width: 100px;
    height: 100px;
    background: #ccc;
  }


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 
	/* font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond; */
    font-family: Didot, Arial, Helvetica; 
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
	/* width: 100%; */
    /*border-bottom: 10px solid #262635;*/
    display:inline-block;
}

.footer-container,
.main aside {
    border-top: 10px; /*solid #000000; */
}

.header-container,
.footer-container {
    background: transparent;
    width: 100%;
    color: #000;
}

.title {
    color: #000;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {

    /*-webkit-box-orient: horizontal;
    display: -webkit-box;*/
    width: 100%;



    list-style-type: none;
    margin: 0px;
    padding: 0px 0;
    float: center;
    color: #000;
    /*	background-color: #183029;

	border: 1px dotted blue;*/
	background-color: transparent;
	/*color: #787878; */
	/*font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond;*/
	font-family:Arial, Helvetica; 
	text-transform: uppercase;
	font-size: 100%; 

}


nav a {
	display: inline;
    margin-bottom: 0px;
    padding: 2px 2;
    text-align: center;
    text-decoration: none;
    font-weight: 100;
	color: #555;
	background-color: #999;
/*    color: ff;
    background: #262635; */
}

nav a.current {
    color: white;
	background-color: #262626;
    background: #262626;
	
    /*color: white;*/
}
 nav a.secndlev {
    color: white;
    /*border: 1px solid #009CFD;*/
    font-weight: 500;
    font-size: 1em;
    background-color: #079CFD;   
}

nav a:hover {
	background-color: #262626;
    color: white;
    /*text-decoration: underline;*/
}

.nav2 ul {
    width: 100%;
    list-style-type: none;
    margin: 0px 0px;
    padding: 0px 0;
    float: center;
    color: white;
    /*  background-color: #183029;
    border: 1px dotted blue;
    background-color: #009CFD;*/
    font-family:Arial, Helvetica; 
    text-transform: none;
}
.nav2 a{
    width: 20%;
    display: inline;
    margin-bottom: 5px;
    padding: 0px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    /*border: 1px solid #009CFD;*/
    font-weight: 500;
    font-size: 1em;
    background-color: #079CFD;
    
}

.nav2 a:hover {
    background-color: #00688B;
    color: white;

    /*text-decoration: underline;*/
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}
table {
	padding: 0% 20% ; 
}

#navWrap {
text-align: center;
   height: 40px;
   z-index: 1;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 1.5em;
}

.main aside {
    color: black;
    padding: 0px 5% 10px;
}

.main a {
	text-decoration: none; 
    font-weight: 700; 
    color: #262626;
/*    padding: 0px 5% 10px; */
}

.main a:hover {
/*      text-decoration: underline;*/
    background-color: #262626;
    color: white;
    font-weight: 700; 
}

.main a.newslink {
    text-decoration: unterline; 
    color: #009CFD;

}

.main a.newslink:hover{
    background-color: #009CFD; 
    color: white;

}

.main h3 {
    color: #666;
    font-weight: lighter; 
    font-size: 1.6em; 
    text-align: center;
}

.footer-container footer {
    color: black;
    text-align:right; 
    padding: 0px 0;
}

.image {
    position:relative;
    width:200px;
    height:200px;
    padding:10px 10px;   
}

.image img {
    width:100%;
    vertical-align:middle;
    position: relative;
	/*top: 50%;
	transform: translateY(-50%);*/
}

.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.image:before {
	content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    padding:30px 30px;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    font-size: 125%; 
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    vertical-align: middle;
}
.image:hover:after, .image:hover:before {
    opacity:1;
}

.question {
	width:400px;
	width:calc(100% - 440px);
	min-width:200px; 
	padding:10px 0px;   
    height:200px;
    line-height: 200px;
    text-align:center;
    font-size: 125%; 
}

span {
  position:relative; 
  display: inline-block;
  /*vertical-align: middle;*/
  line-height: normal;      
}



/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 10px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.pubs {
	/*font-family: Lucida Sans Typewriter, Courier New, Futura, Arial, sans-serif; */
	text-align: left; 	
    line-height: 1.25em; 
    padding-top: 5%; 
}

.pubs atitle {
	text-decoration: none; 
	font-style: none; 
    color: black;
    font-weight: bold;
    display: inline-block;
    text-transform: none;
    font-size: 1.05em;
}
.pubs aauthors {
	text-decoration: none; 
	font-style: normal; 
	font-weight: 300;
    color: #666;
    text-align: left; 
    font-size: 0.9em;
    display: block; 
}

.pubs pdate {
    text-decoration: none; 
    font-style: normal; 
    font-weight: 600;
    color: #666;
    text-align: left; 
    font-size: 0.9em;
    text-transform: none;
}

.pubs pdate::after {
    content: "  ";   

}
.pubs pages {
    text-decoration: none; 
    font-style: normal; 
    font-weight: 300;
    color: #666;
    text-align: left; 
    font-size: 0.9em;
    /*display: block; */
}


.pubs a {
	text-decoration: none; 
    color: #000;
    background: #DDD; 
    font-weight: 500;
    font-size: 0.9em;
    border-style: none;
    display:inline-block;
}



.pubs a:hover {
    text-decoration: none;
    color: #009CFD;
    background: #fff; 
}

.pubs a.big {
    text-decoration: underline; 
    color: #000;
    background: none; 
    font-weight: 500;
    font-size: 1em;
    border-style: none;
    display:inline-block;
}
.pubs a.big:hover {
    text-decoration: none;
    color: #009CFD;
    background: #fff; 
}

.pubs a.bigh {
    text-decoration: underline; 
    color: #666;
    background: none; 
    font-weight: 100;
    font-size: 1em;
    border-style: none;
    display:inline-block;
}
.pubs a.bigh:hover {
    text-decoration: none;
    color: #009CFD;
    background: #fff; 
}


.pubs a.back {
    text-decoration: none; 
    font-weight: 300; 
    color: #666;
    background: none; 
    font-size: 0.8em;
}

.pubs a.back:hover {
    text-decoration: none;
    color: white;
    background: #666; 
}

.pubs a.ext {
    text-decoration: underline; 
    font-weight: normal; 
    color: black;
    font-size: 1em;
}

.pubs a.ext:hover {
    text-decoration: none;
    color: white;
    background: #666; 
}

.pubs a::before {
    content: " ";    
}

.pubs a::after {
    content: " ";    
}

.pubs h1, h2, h3{
	text-align: left; 
    display: inline-block;
}

.pubs h2 {
	background: #000;
	color:#FFF; 
	font-size:1.3em; 
    font-weight: bold; 
    text-transform: uppercase;
	/*text-decoration: underline; */
}

.pubs h3 {
	font-size: 1.4em; 
    font-weight: 200;
    color:#666; 
}

.pubs p {
	padding: 0px 0%; 
    display: block;
}


.cv {
	padding: 0% 10% ; 
	width: 80%;
}

.cv h1 {
	text-align: center; 
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 640px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        font-size: 1.2em; 
        float: left;
        width: 16%;
        margin: 0.5px;
        padding: 1px 2%;
        margin-bottom: 0px;
        display: inline-block;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    
    nav a.current {
    font-size: 1.2em; 
    color: white;
    background-color: #262626;
    
    /*color: white;*/
}

    nav a.secndlev {
        font-size: 1.2em; 
    color: white;
    margin-left: 0.0px;
    margin-right: 1.0px;
    /*border: 1px solid #009CFD;*/
    font-weight: 100;
    background-color: #079CFD;
}

 nav a.secndlev:hover {
    background-color: #00688B;
    color: white;
}

.nav2 a:hover {
    background-color: #00688B;
    color: white;

    /*text-decoration: underline;*/
}
    /*color: white;*/
}


.nav a {
        float: left;
        width: 16%;
        margin: 0 0%;
        padding: 5px 2%;
        margin-bottom: 0;
        display: inline-block;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
     /*   -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;*/
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: right;
    }

    nav {
        float: left;
        width: 100%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 90%;
    }

    .main aside {
	    vertical-align: top;
        float: left;
        width: 85%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}